<!doctype html>
<title>Home</title>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1 class="title">Hi, Andy!</h1>
</head>

<body>
    <div class="container">
        <div class="panel" id="news">
            <h2>News</h2>

            {% for i in news %}
            <a href="{{ i[1] }}" target="_blank" class="news-a">{{ i[0] }}</a></br>
            {% endfor %}
            <p id="spacing"></p>
        </div>

        <div class="panel" id="stocks">
            <h2 id="stock-title">Stocks</h2>
            <div id="stocks-text">
                {% for k,v in stocks.items() %}
                {% if v["change"][-1] == "⬆" %}
                <span onclick="newGraph(this, 5)" id="{{ v["history"] }}" class="stock-button"
                    style="font-family: Courier;">
                    <p>{{ v['price'] }}<a style="background-color: #00dd00b2;">{{ v["change"] }}</a></p>
                </span>
                {% else %}
                <span onclick="newGraph(this, 5)" id="{{ v["history"] }}" class="stock-button"
                    style="font-family: Courier;">
                    <p>{{ v['price'] }}<a style="background-color: #ff0000b2;">{{ v["change"] }}</a></p>
                </span>
                {% endif %}
                {% endfor %}
                <script src="https://www.gstatic.com/charts/loader.js"></script>
                <script>
                    google.charts.load('current', { packages: ['corechart'] });

                    function drawChart(de, k) {
                        // Define the chart to be drawn.
                        let dsplit = de.split("|");
                        let d = dsplit[1];
                        let inf = dsplit[0];
                        let temp = d.slice(1, d.length - 1).split("), (");
                        temp[0] = temp[0].slice(1, d.length);
                        temp[temp.length - 1] = temp[temp.length - 1].slice(0, d.length - 1);
                        let days = [];
                        let prices = [];
                        let i;
                        console.log(k);
                        for (i = temp.length - k; i < temp.length; i++) {
                            let t = temp[i].split(", ");
                            days.push(t[0].slice(1, t[0].length - 1));
                            prices.push(parseFloat(t[1]));
                        }

                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Day');
                        data.addColumn('number', 'Value');
                        let j;
                        for (j = 0; j <= days.length - 1; j++) {
                            data.addRows([
                                [days[j], prices[j]]
                            ]);
                        }
                        if (prices[0] < prices[prices.length - 1]) {
                            var options = {
                                legend: { position: 'bottom' },
                                vAxis: {
                                    title: 'Value (USD)',
                                },
                                hAxis: {
                                    title: 'Day',
                                },
                                backgroundColor: '#ffbfb7',
                                fontSize: 12,
                                fontName: "Roboto",
                                width: 216,
                                height: 180,
                                colors: ["#00ac00"],
                            };
                        } else {
                            var options = {
                                legend: { position: 'bottom' },
                                vAxis: {
                                    title: 'Value (USD)',
                                },
                                hAxis: {
                                    title: 'Day',
                                },
                                backgroundColor: '#ffbfb7',
                                fontSize: 12,
                                fontName: "Roboto",
                                width: 216,
                                height: 180,
                                colors: ["#eb0000"],
                            };
                        }
                        // Instantiate and draw the chart.
                        var chart = new google.visualization.AreaChart(document.getElementById('stocks-graph'));
                        chart.draw(data, options);
                    }

                </script>
                <script>
                    function newGraph(i, k) {
                        var t = parseInt(k);
                        var graph = document.getElementById("stocks-graph");
                        var graphtext = document.getElementById("stocks-graph-text");
                        var buttons = document.getElementById("stocks-change-buttons");

                        let is = i.id.split("|")[0].split("!");

                        if (graph.firstElementChild != null) {
                            graph.removeChild(graph.firstElementChild);
                        }
                        if (graphtext.firstElementChild != null) {
                            graphtext.removeChild(graphtext.firstElementChild);
                        }
                        if (buttons.firstElementChild != null) {
                            buttons.removeChild(buttons.firstElementChild);
                        }

                        let spb = document.createElement("span");
                        let days = ["5", "15", "30", "60", "180", "360"];
                        let q;
                        for (q = 0; q < days.length; q++) {
                            var z = document.createElement("span");
                            var tx = document.createTextNode(days[q] + "d");
                            z.appendChild(tx)
                            z.className = "stock-switch";
                            z.onclick = function () {
                                var graph = document.getElementById("stocks-graph");
                                if (graph.firstElementChild != null) {
                                    graph.removeChild(graph.firstElementChild);
                                }
                                google.charts.setOnLoadCallback(drawChart(i.id, parseInt(this.firstChild.textContent)));
                            };
                            spb.appendChild(z);
                        }
                        buttons.appendChild(spb);

                        let u;
                        let sp = document.createElement("span");
                        sp.id = "stock-span";
                        for (u = 0; u < is.length; u++) {
                            var p = document.createElement("p");
                            p.textContent = is[u];
                            p.className = "stock-desc";
                            sp.appendChild(p);
                        }

                        graphtext.appendChild(sp);
                        google.charts.setOnLoadCallback(drawChart(i.id, t));
                    }

                    function changeGraph(i, k) {
                        newGraph(i, k);
                    }
                </script>
            </div>
            <div id="stocks-change-buttons"></div>
            <div id="stocks-graph-text">
            </div>
            <div id="stocks-graph">
            </div>
        </div>

        <div class="panel" id="reminders">
            <h2>Reminders</h2>
            <div id="myDIV" class="header">
                <input type="text" id="myInput" placeholder="Title...">
                <span onclick="newElement()" class="addBtn">Add</span>
            </div>

            <ul id="myUL">
            </ul>
            <p id="spacing"></p>
            <script>
                // Create a "close" button and append it to each list item
                var myNodelist = document.getElementsByTagName("LI");
                var i;
                for (i = 0; i < myNodelist.length; i++) {
                    var span = document.createElement("SPAN");
                    var txt = document.createTextNode("\u00D7");
                    span.className = "close";
                    span.appendChild(txt);
                    myNodelist[i].appendChild(span);
                }

                // Click on a close button to hide the current list item
                var close = document.getElementsByClassName("close");
                var i;
                for (i = 0; i < close.length; i++) {
                    close[i].onclick = function () {
                        var div = this.parentElement;
                        div.style.display = "none";
                    }
                }

                // Add a "checked" symbol when clicking on a list item
                var list = document.querySelector('ul');
                list.addEventListener('click', function (ev) {
                    if (ev.target.tagName === 'LI') {
                        ev.target.classList.toggle('checked');
                    }
                }, false);

                // Create a new list item when clicking on the "Add" button
                function newElement() {
                    var li = document.createElement("li");
                    var inputValue = document.getElementById("myInput").value;
                    var t = document.createTextNode(inputValue);
                    li.appendChild(t);
                    if (inputValue === '') {
                        pass;
                    } else {
                        document.getElementById("myUL").appendChild(li);
                    }
                    document.getElementById("myInput").value = "";

                    var span = document.createElement("SPAN");
                    var txt = document.createTextNode("\u00D7");
                    span.className = "close";
                    span.appendChild(txt);
                    li.appendChild(span);

                    for (i = 0; i < close.length; i++) {
                        close[i].onclick = function () {
                            var div = this.parentElement;
                            div.style.display = "none";
                        }
                    }
                } 
            </script>
        </div>

        <div class="panel" id="history">
            <h2>Today in History</h2>
            <p>
                {% for i in today %}
                {{ i }}</br>
                {% endfor %}
            </p>
            <a href="https://www.historynet.com/today-in-history/" target="_blank"
                class="news-a">www.historynet.com/today-in-history</a>
            <p id="spacing"></p>
        </div>

        <div class="panel" id="links">
            <h2 id="link-h2">Links</h2>
            <div id="link-container">
                <div class="link-div" id="link-school">
                    <h3>School</h3>
                    <hr>
                    <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="link-a">Gmail</a></br>
                    <a href="https://drive.google.com/drive/u/0/" target="_blank" class="link-a">Google Drive</a></br>
                    <a href="https://my.mitty.com/my/" target="_blank" class="link-a">MyMitty</a></br>
                    <a href="https://mitty.myschoolapp.com/app/student#studentmyday/progress" target="_blank"
                        class="link-a">Mitty Grades</a></br>
                    <a href="https://portal.mitty.com/" target="_blank" class="link-a">Student Portal</a></br>
                </div>
                <div class="link-div" id="link-coding">
                    <h3>Coding</h3>
                    <hr>
                    <a href="https://leetcode.com/problemset/all/" target="_blank" class="link-a">LeetCode</a></br>
                    <a href="https://github.com/AndyLi23" target="_blank" class="link-a">Github</a></br>
                </div>
                <div class="link-div" id="link-reading">
                    <h3>Reading</h3>
                    <hr>
                    <a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank" class="link-a">Wikipedia</a></br>
                    <a href="https://xkcd.com/" target="_blank" class="link-a">XKCD</a></br>
                    <a href="https://www.dreamincode.net/forums/topic/78802-martyr2s-mega-project-ideas-list/"
                        target="_blank" class="link-a">Project Ideas</a></br>
                    <a href="https://stackoverflow.com/" target="_blank" class="link-a">Stack Overflow</a></br>
                </div>
            </div>
        </div>

        <div class="panel" id="jokes">
            <h2>Jokes</h2>
            {% for i in jokes %}
            <p>{{ i[0] }}</p>
            {% endfor %}
            <a href="https://upjoke.com/" target="_blank" class="news-a">upjoke.com</a>
            <p id="spacing"></p>
        </div>

        <div class="panel" id="music">
            <h2>Billboard Hot 100</h2>
            {% for i in music %}
            <p>{{ i }}</p>
            {% endfor %}
            <a href="https://www.billboard.com/charts/hot-100" target="_blank"
                class="news-a">www.billboard.com/charts/hot-100</a>
            <p id="spacing"></p>
        </div>
    </div>
</body>