html {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background: #f063ba;
  }
  50% {
    background: #ff33b1;
  }
  100% {
    background: #f063ba;
  }
}


h1 {
    text-align: center;
    font-size: 4rem;
    margin: 0rem 0rem -2.5rem 0rem;
    border-radius: 30rem;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-around;
}

#news {
    order: 1;
    padding: 0rem 0rem 0rem 1.5rem;
    margin: 3rem 1rem 1rem 1rem;
    overflow-y: auto;
    /*width: auto;*/
    height: 15rem;
    flex-grow: 5;
    width: 80rem;
}

.panel {
    border: 10px solid #ff87ab;
    border-radius: 10px;
    background: #ffbfb7;
}

@keyframes panelPulse {
  0% {
    background: #fcc8c2;
  }
  50% {
    background: #ffbfb7;
  }
  100% {
    background: #fcc8c2;
  }
}


#reminders {
    order: 3;
    padding: 0rem 1.5rem 0rem 1.5rem;
    margin: 1rem;
    overflow-y: auto;
    height: 15rem;
    flex-grow: 1;
    width: 30rem;
}

#stocks {
    order: 3;
    padding: 0rem 0rem 0rem 1.5rem;
    margin: 1rem;
    overflow-y: auto;
    height: 15rem;
    flex-grow: 1;
    width: 30rem;
}

#stocks >p {
    font-family: "Courier", monospace;
    font-size: 1rem;
}

#history {
    order: 3;
    padding: 0rem 0rem 0rem 1.5rem;
    margin: 1rem;
    overflow-y: auto;
    height: 15rem;
    flex-grow: 1;
    width: 30rem;
}

#jokes {
    order: 4;
    padding: 0rem 0rem 0rem 1.5rem;
    margin: 1rem;
    overflow-y: auto;
    height: 15rem;
    flex-grow: 1;
    width: 30rem;
}

#links {
    order: 3;
    padding: 0rem 0rem 0rem 1.5rem;
    margin: 1rem;
    overflow-y: auto;
    height: 15rem;
    flex-grow: 1;
    width: 30rem;
}

#music {
    order: 4;
    padding: 0rem 0rem 0rem 1.5rem;
    margin: 1rem;
    overflow-y: auto;
    height: 15rem;
    flex-grow: 1;
    width: 30rem;
}

#stock-title {
  margin-bottom: -0.25rem;
}

#spacing {
    font-size: 2rem;
}

* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 16px;
  transition: 0.2s;
  list-style-type: none;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  height: 40px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #a3a3a3;
  color: rgb(32, 32, 32);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  height: 40px;
}

.addBtn:hover {
  background-color: #bbb;
}

.stock-button {
    width: 13rem;
    height: 1rem;
}

.stock-button:hover {
    color: #ffffff;
    cursor: pointer;
}

#stocks-text {
    float: left;
    width: auto;
    margin: 0;
}
#stocks-graph {
    float: left;
    width: auto;
    margin-left: 2rem;
    margin-right: 0rem;
    display: block;
    margin-top: 15%;
}

#stock-title {
    width: 15rem;
}

.stock-desc {
    margin-right: 10px;
    max-width: 8.5rem;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#stock-span {
    max-width: 8.5rem;
    width: 8.5rem;
    padding: 0rem;
    margin: 0rem;
    display:block;
    width: auto;
    margin-top: 13%;
    margin-right: 15px;
    float: right;
}

#stocks-graph-text {
    margin-top: 0px;
    position: relative;
    width: auto;
    display:block;
}

#stocks-change-buttons {
  margin-left: 1.5rem;
  margin-top: 5rem;
  margin-bottom: -100px;
  position: relative;
  float: left;
  max-width: 10rem;
  width: auto;
  font-size: 11px;
}

.stock-switch {
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.stock-switch:hover{
  color: white;
  cursor: pointer;
}

#myDIV {
  margin: 0px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}